@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

/* Custom styles for smooth transitions */
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Custom background and text colors */
.bg-custom {
  @apply bg-background-light dark:bg-background-dark;
}

.text-custom {
  @apply text-text-light dark:text-text-dark;
}

.text-custom-inverse {
  @apply text-text-dark dark:text-text-light;
}